* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
}

body {
    background: url(../imagens/fundo-madeira.jpg) center center / cover no-repeat;
}

main {
    height: 100vh;
    position: relative;
    }

section#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imagens/frame-iphone.png);

}

iframe#home {
    position: relative;
    top: 80.5px;
    left: 23px;
    width: 266px;
    height: 470px;
}

section#redes-sociais {
    padding-top: 140px;
    text-align: right;
    }

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.516);
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-5%, -5%);
    transition: transform 0.3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
}